
	<div class="center hero-unit">
 	 	<h1>Welcome to JSON hosting</h1>
  		<h2>Simple way to upload JSON</h2>

  		<%= link_to "Try it!", new_response_path, class: "btn btn-large btn-primary" %>
  		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
