<li>
	<%= gravatar_for user, size: 50 %>
	<%= user.name %>
	<% if current_user.admin? && current_user != user && default_user != user %>
	<%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
</li>
