<footer class="footer">
  <small>Copyright © 2013, Koval Zhenya</small>
  <nav>
    <ul>
      <li><%= link_to "GitHub",   'https://github.com/zhenyakoval/JSON-Hosting', :target => "_blank" %></li>
    </ul>
  </nav>
</footer>